<html   xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
 <body class='bgi'>
  <form>
  <div th:insert="/manager/top"></div>
  <div class='container'>
  <div class='card'>
  <div th:if="${!list.empty}" class='card-header'>
    <div th:insert="manager/manage/pagination"></div>
  </div>
  <div class='card-body'>
  <div class='dvv' th:if="${list.empty}">
   <label class='lah' style='color:green'>Sorry no product</label>
  </div>
  <div th:if="${!list.empty}">
  <table class='table'>
   <thead>
    <tr>
     <th class='tdr'>Product</th>
     <th class='tdr'>Name</th>
     <th class='tdr'>Brand</th>
     <th class='tdr'>Category</th>
     <th class='tdr'>Copies</th>
     <th class='tdr'>Price</th>
     <th class='tdr'>Stock</th>
     <th class='tdr' style='color:magenta'>Action</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="product:${list}">
     <td class='tdr' th:text="${product.pid}"></td>
     <td class='tdr' th:text="${product.name}"></td>
     <td class='tdr' th:text="${product.brand}"></td>
     <td class='tdr'><a th:href="@{/manager/category/details(cid=${product.category})}" th:text="${product.category}"></a></td>
     <td class='tdr' th:text="${product.stock}"></td>
     <td class='tdr' th:text="${product.price}"></td>
     <td class='tdr' th:if="${product.stock>0}" style='color:green'>In Stock</td>
     <td class='tdr' th:if="${product.stock==0}" style='color:red'>Out of Stock</td>
     <td class='tdr'>
      <a th:href="@{edit(pid=${product.pid})}">Edit |</a>
      <a th:href="@{remove(pid=${product.pid})}" onclick='return confirm("Are you sure to remove?")'>Remove</a> 
     </td>
    </tr>
   </tbody>
  </table>
  </div>
  </div>
  </div>
   <div class='dvv'>
     <a class='btl' href='add'>Add new product</a>
     <a class='btl' href='/manager/manageproducts' style='background-color:orange'>Back</a>
  </div>
  </div>
  </form>
 </body>
 </html>