<html   xmlns:th="http://www.thymeleaf.org">
 <body class='bgi'>
  <div th:insert="/manager/top"></div>
  <div class='container'>
  <div class='card'>
  <div class='card-body'>
  <div class='dvv' th:if="${list.empty}">
   <label class='lah' style='color:red'>No product is out of stock</label>
  </div>
  <div th:if="${!list.empty}">
  <table class='table'>
   <thead>
    <tr>
     <th>Product</th>
     <th>Name</th>
     <th>Brand</th>
     <th class='tdr'>Category</th>
     <th>Copies</th>
     <th>Price</th>
     <th>Stock</th>
     <th style='color:magenta'>Action</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="product:${list}">
     <td th:text="${product.pid}"></td>
     <td th:text="${product.name}"></td>
     <td th:text="${product.brand}"></td>
     <td class='tdr'><a th:href="@{/manager/category/details(cid=${product.category})}" th:text="${product.category}"></a></td>
     <td th:text="${product.stock}"></td>
     <td th:text="${product.price}"></td>
     <td style='color:red'>Out of Stock</td>
     <td>
      <a th:href="@{/manager/product/edit(pid=${product.pid})}">Edit |</a>
      <a th:href="@{/manager/removeproduct(pid=${product.pid})}" onclick='return confirm("Are you sure to remove?")'>Remove</a> 
     </td>
    </tr>
   </tbody>
  </table>
  </div>
  <div class='dvv'>
   <a class='btl' href='/manager/manageproducts' style='background-color:orange'>Back</a>
  </div>
  </div>
  </div>
  </div>
 </body>
 </html>